<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Rates Tab -->
  <ion-tab title="Rates" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/rates">
    <ion-nav-view name="tab-rates"></ion-nav-view>
  </ion-tab>

  <!-- Currencies Tab -->
  <ion-tab title="Currencies" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/currencies">
    <ion-nav-view name="tab-currencies"></ion-nav-view>
  </ion-tab>

</ion-tabs>
